doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="theme-color", content="#000000")
		title World Population
	body
	data-filter=".BabyAndKids"
		div#root
		block layout-content
		img(src=path.join(__dirname, 'images/logo.jpg'))
		h1 Var1 = #{var1}
		p.greetings#people Hello There!