extends layout

block body-content
    body(background='/images/home.jpg') 
        div#root
            div.View
                div.head
                    img(src='images/logo.jpg')
                    h1.Banner WORLD POPULATION
                div.topnav
                    a(href="Home").active Home
                    a(href="World") World
                    a(href="Countries") Countries
                    a(href="Continents") Continents
                    a(href="Region") Region