.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed; 
    top: 100px; 
    width: 100%;
  }
  
  .topnav a {
    float: left;
    background-color: white;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position:relative;
  }
  
  .topnav a:hover {
    background-color: green;
    color: white;
  }
  
  .topnav a.active {
    background-color: green;
    color: white;
  }

  .continent_div {
    width: 45%;
    float:left;
    display: block;
    height: 400px;
    margin: 2%;
  }
  .continent_div h2 {
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    height: 10%; 
    padding:0px; 
    margin:0px;
    text-align: center;
  }
  .continent_div img {
    object-fit: fill; 
    height:90%; 
    width:100%;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
  }

  body{
    margin:0px;
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }

  .head{
    display:block; 
    height: 100px; 
    position:fixed; 
    top:0px; 
    width:100%; 
    background-color:white;
  }

  .Banner {
    background-color: white;
    border: solid;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    margin-top: 20px;
    height: 60px;
  }

  .head img {
    float:left;
    height: 100%;
    width: 200px;
  }

  .Multi_Column_List {
    columns: 6;
    -webkit-columns: 6;
    -moz-columns: 6;
    font-size: 20px;
    font-family: 'Segoe UI';
  }

  .Countries_Link{
    display:block;
    position:fixed; 
    top:150px; 
    width:100%; 
    background-color:white;
  }

  .Countries_Link a, span {
  font-size: 36px;
  text-decoration-line: none;
  font-family: 'Segoe UI';
  }

  .hide{
    display: none;
  }

  .show{
    display: initial;
  }
  
  .filter-btn {
    cursor: pointer;
  }

  .filter-btn.active, .filter-btn:hover {
    background-color: green;
    color: white;
  }