extends layout.pug 
block content 
   img(src="https://cdn.surfnetkids.com/resources/wp-content/uploads/2017/07/world-population.jpg", alt="world map" width="1300" height="600") 
   
   h1.text  The population of the world:
   img(src="https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/5604525/1820/1214/m1/fpnw/wm1/1-.jpg?1545563706&s=0a3d93022ad0931761e0b9768ed3c1a7", alt="world map 2" width="1300" height="600")
   h1.text  The population of continents :
   img(src="https://free-printablemap.com/wp-content/uploads/2018/09/printable-map-of-all-7-continents-lovely-great-world-map-continents-of-printable-map-of-all-7-continents.jpg", alt="continents" width="1300" height="600")
   h1.text  The population of regions :
   img(src="https://travelbitelove.files.wordpress.com/2019/11/world_regions_map.jpeg?w=2048", alt="regions of world" width="1300" height="600")
   h1.text  The population of a country :
   img(src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Flag-map_of_the_world_(2017).png", alt="countries in world" width="1300" height="600")
   h1.text  The population of a city :
   img(src="https://i.ytimg.com/vi/qP_mExjryQg/maxresdefault.jpg", alt="cities" width="1300" height="600")