extends layout

block body-content
    div.root
        div.continent_div 
            h2 Africa
            img(src='images/africa.jpg')
        div.continent_div 
            h2 Antarctica
            img(src='images/antarctica.jpg')
        div.continent_div 
            h2 Asia
            img(src='images/asia.jpg')
        div.continent_div 
            h2 Australia
            img(src='images/australia.jpg')
        div.continent_div 
            h2 Europe
            img(src='images/europe.jpg')
        div.continent_div 
            h2 North America
            img(src='images/n_america.jpg')
        div.continent_div 
            h2 South America
            img(src='images/s_america.jpg')